<h1>Super Admin Panel</h1>


<%= link_to 'Add new Organization', new_user_path, class: "btn btn-primary" %>

<%= link_to 'Add new Subject', new_subject_path, class: "btn btn-primary" %>

<br />
<br />

<%= link_to 'List Organizations', users_path, class: "btn btn-primary" %>
<%= link_to 'List Subjects', subjects_path, class: "btn btn-primary" %>
