

<h1>
  <%= @user.organization %>
</h1>

<p>
  <strong>Subjects:</strong>
  <br />
  <% @user.subjects.each do |subject| %>
    <%= subject.name %>
    <br />
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
