

<h1>
  <%= @user.organization %>
</h1>

<h3>Subjects</h3>
<% @user.subjects.each do |subject| %>
  <p>
    <%= subject.name %>
  </p>
<% end %>

<% if @user.subjects.empty? %>
  <p>
    No subjects selected
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %> |
<%= link_to 'Back', users_path, class: "btn btn-primary" %>
