
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}

.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #fafafa;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 131px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}



body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  font-weight: 700;
}


a,
a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  background: transparent;
  color: $black;
  text-decoration: none;
}

a.btn.btn-primary:visited {
  color: #fff;
}

.jumbotron {
  background: image-url("hy.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 0 !important;
  margin: 0 -15px;

  h1,
  p {
    color: #fff;
    line-height: 1.3;
  }
}

footer {
  padding: 30px;
  background: #222;
  color: #7D7D7D;

  .tekis-logo {
    max-height: 60px;
    max-width: 60px;
    margin: 0 0 0 7px;
  }
}

.footer-header {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}
