<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <div class="footer-header">
          TKO-äly Tenttiarkisto
        </div>
        <p>
          Do you want your Student Organization to have your exams here? Contact us at tenttiarkisto@tko-aly.fi
        </p>
      </div>

      <div class="col-sm-2">
        <div class="footer-header">
          Created by
        </div>
        <p>
          <%= link_to 'http://www.tko-aly.fi', :target => "_blank" do %>
            <%= image_tag 'tekis-150.png', class: "tekis-logo" %>
          <% end %>
        </p>
      </div>

      <div class="col-sm-3">
        <div class="footer-header">
          Contact
        </div>
        <p>
          TKO-äly ry
          <br />tenttiarkisto@tko-aly.fi
        </p>
      </div>

      <div class="col-sm-3">
        <div class="footer-header">
          Hosting provided by
        </div>
        <p>
          <%= link_to 'http://www.shellit.org', :target => "_blank" do %>
            <%= image_tag 'shellit.png', class: "sponsored"%>
          <% end %>
        </p>
      </div>

    </div>
  </div>
</footer>
